* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; //1rem=10px
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", Arial, sans-serif;
    // box-sizing: border-box;
    //to be removed
    // height: 1200px;
    //  background: #f5efef; 
    background-color: #f9f9f9;
    ;
}