<div class="container-fluid footer">
    <div class="row">
        <div class="col-sm-12 col-lg-4 footer__layout">
            <div>
                <!-- <img class="header__logo" src="images/logo-green.png" alt="" style="width: 57%"> -->
            </div>
            <div class="footer__layout-style">
                <p> Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
            </div>
            <div class="footer__contacts">
                <h6 class="footer__header" style=" margin-top: 0.7rem;">FOLLOW US</h6>
                <ul class=" footer__contacts footer__contact-links-container ">
                    <li class="footer__contacts-link-item ">
                        <a href="# ">
                            <i class="fab fa-facebook-f footer__link "></i>
                        </a>
                    </li>
                    <li class="footer__contacts-link-item ">
                        <a href="# ">
                            <i class="fab fa-twitter footer__link "></i>
                        </a>
                    </li>
                    <li class="footer__contacts-link-item ">
                        <a href="# ">
                            <i class="fab fa-google-plus-g footer__link "></i>
                        </a>
                    </li>
                    <li class="footer__contacts-link-item ">
                        <a href="# ">
                            <i class="fab fa-pinterest-p footer__link "></i>
                        </a>
                    </li>
                    <li class="footer__contacts-link-item">
                        <a href="# ">
                            <i class="fab fa-instagram footer__link "></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 footer__layout">
            <h6 class="footer__header footer__header-link">Useful links</h6>
            <ul class="footer__useful-container footer__layout-style">
                <li class=" footer__useful-link "><a href="# " class="footer__link ">About</a></li>
                <li class="footer__useful-link "><a href="# " class="footer__link ">Login</a></li>
                <li class="footer__useful-link "><a href="# " class="footer__link ">Register</a></li>
                <li class="footer__useful-link "><a href="# " class="footer__link ">News&Events</a></li>
                <li class="footer__useful-link "><a href="# " class="footer__link ">Contacts</a></li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4  footer__layout">
            <h6 class="footer__header ">Contact with Us</h6>
            <ul class="footer__layout-style">
                <li><a href="# " class="footer__link "><i class=" fas fa-mobile-alt "></i> + 61 23 8093 3400</a></li>
                <li><a href="# " class="footer__link "><i class="far fa-envelope "></i> info@Product.com</a>
                </li>
            </ul>
            <h6 class="footer__header footer__secnd-header ">Newsletter</h6>
            <div>
                <input placeholder="Your mail " class="footer__input ">
                <button class="footer__btn ">Submit</button>
            </div>
        </div>
    </div>

</div>