<div class="header containerr fixed-top">
    <!-- navigation -->
    <nav class="nav  ">
        <ul class="nav__items list list--hr">
            <!-- items -->
            <li class="nav__item">
                <a class="nav__link" [routerLink]="['/']">Home</a>
            </li>
            <li class=" nav__item ">
                <!-- title -->
                <a class="nav__link dropdown__header" href="# ">
                    Products
                </a>
            </li>
            <li class="nav__item ">
                <a class="nav__link " href="# ">Contact Us</a>
            </li>
            <li class="nav__item ">
                <a class="nav__link " href="# ">About Us</a>
            </li>
        </ul>
    </nav>
</div>