<tr>
    <td>
        <img class="tablee__img" [src]='product.image'></td>
    <td>
        <h4 class="tablee__td ">{{product.name}}</h4>
    </td>
    <td class="tablee__td ">{{product.price}} EGP</td>
    <td class="tablee__td ">{{product.code}}</td>
    <td>
        <!-- <a [routerLink]="['/edit',product.id]" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
            <i class="fas fa-edit icon__item"></i>
        </a> -->

        <a [routerLink]="['/product','edit',product.id]" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">

            <i class="fas fa-edit icon__item"></i>

        </a>
        <input type="checkbox" aria-label="Checkbox for following text input">

    </td>
</tr>